.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
a{
  text-decoration: none;
  color: whitesmoke;
}
a:visited {
  color: whitesmoke;
 }

 .rel{
   position: relative;
 }
.mar{
  margin-top:-5px;
}
::-webkit-scrollbar{
  width:10px;
  background-color: #282c34;
}
::-webkit-scrollbar-thumb{
  background-color: darkgrey;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: rgb(128, 128, 128);
}
 .borderMain{
  top: 11%;
  left: 70%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 2px;
  padding: 2%;
  padding-left: 4%;
  padding-right: 4%;
  text-align: center;
  margin-top: 2%;
  background-color: #606369;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5); 
  width: 20%;
  font-size: 90%;
  color: aliceblue;
 }

 .borderMain:hover{
   box-shadow: 25px 25px 10px rgba(0,0,0,0.5); 
   transition: 1s;
 }

 .borderJoin{
  border-radius: 2px;
  padding: 2%;
  padding-left: 4%;
  padding-right: 4%;
  text-align: center;
  background-color: #606369;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5); 
  width: 20%;
  margin:auto;
  color: aliceblue;
  margin-top: 29%;
  margin-bottom: 31%;
 }

 .borderJoin:hover{
  box-shadow: 25px 25px 10px rgba(0,0,0,0.5); 
  transition: 1s;
 }

 .border2{
  top: 43%;
  left: 31%;
 }
 .border3{
  top: 78%;
  left: 50%;
 }


 .inputJoin{
  margin-top: 8%;
  margin-bottom: 8%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.foot{
  font-size: 10px;
  min-height: 5vh;
  color: rgb(255, 255, 255);
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
